/host-windows/Debug
/host-windows/Release
/host-windows/ipch
*.opensdf
*.sdf
*.suo
*.user
*.o
*.msi
*.wixobj
*.wixpdb
*out/
*~
/tests/*.pyc
/*.tar.gz
*.pkg
/tmp
/hwcrypto-native.plist
moc_*.cpp
moc_*.h
qrc_*.cpp
