/host-windows/Debug
/host-windows/Release
/host-windows/ipch
*.opensdf
*.sdf
*.suo
*.user
*.o
*.msi
*.wixobj
*.wixpdb
*out/
*~
/tests/*.pyc
/*.tar.gz
/host-osx/build
/host-osx/hwcrypto-native.xcodeproj/project.xcworkspace/
/host-osx/hwcrypto-native.xcodeproj/xcuserdata/
*.pkg
