Source: hwcrypto-native
Section: web
Priority: extra
Maintainer: RIA <info@ria.ee>
Build-Depends:
 libssl-dev,
 qtbase5-dev,
 debhelper (>= 7)
Standards-Version: 3.9.5
Homepage: https://github.com/hwcrypto/hwcrypto-native

Package: hwcrypto-native
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: opensc
Replaces: chrome-token-signing
Description: Modern eID extension for browsers
 Software necessary for eID usage on the Web.

Package: hwcrypto-native-dbg
Architecture: any
Section: debug
Depends: hwcrypto-native (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for hwcrypto-native
