#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@

override_dh_auto_build:
	make app

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/web-eid/usr/share/icons/hicolor
	cp -Rv artwork/icons/* $(CURDIR)/debian/web-eid/usr/share/icons/hicolor
